#citiesSection, #tosserSection{
  display: flex;
  width: 100%;
  justify-content: center;
}
header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items:
  flex-direction: column;
}
article {
  display: inline-block;
  margin: 1em;
  background-color: lightgray;
  padding: .7em;
}
h1 {
  display: block;
  font-size: 3em;
  margin-top: .5em;
  margin-bottom: .5em;
}
h2 {
  font-size: 1.5em;
  margin-bottom: .5em;
}
td, th{
  padding: .4em;
  border-left: thin solid black;
  border-right: thin solid black;
  border-top: thin solid black;
}
td:last-child {
  background-color: gray;
  border-bottom: thin solid black;
  font-weight: bold;
  color: white;
}

tr:last-child {
  border-bottom: thin solid black;
}
table {
  margin-bottom: 2em;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}
